.popup-cancel-payment {
  max-width: 500px !important;
}

.content-cancel-order-payment {
  h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
  }
  .ques-confirm-cancel{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .lst-btn{
    text-align: end;
    margin-top: 10px;
  }
}