.custom-main {
  background: #fff;
  .btn-back > .emenu-button {
    min-width: 50px!important;
    height: 50px;
    text-overflow: inherit;
  }
  .btn-back {
    .svg-inline--fa {
        cursor: pointer;
    }
  }
  .custom-block {
    align-content: start;
    .custom-card {
      max-height: 320px !important;
      width: calc(3 * 1 / 12 * 100%) !important;
      display: block;
    }
  }
}

/* On screens that are 1400px or less */
@media screen and (min-width: 1400px) {
  .e-row .e-col-4.custom-card {
    width: calc(3 * 1 / 12 * 100%);
  }
}

.custom-card {
    width: auto !important;
    display: block !important;
}

