.list-food-content {
    text-align: center;

    .list-food {
        padding: 0 !important;
        display: flex;
        flex-wrap: wrap;
        margin: 10px -10px;

        .food-item {
            background-color: #fff;
            width: calc(25% - 20px);
            margin: 10px;
            font-size: 20px;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
            border: solid 1px #ddd;

            .content-food {
                text-align: left;
                padding: 5px 20px;

                .name-food {
                    font-size: 23px
                }
            }

            .img-food {
                img {
                    height: 285px;
                    width: 285px;
                    display: flex;
                }
            }

            .check-food {
                text-align: left;
                left: 10px;
                top: 10px;
                position: relative;
                z-index: 999;

                .chkbox {
                    position: absolute;
                }
            }
        }
    }
}

.popup-edit-dish {
    .inclue-dish {
        .emenu-tag-input {
            flex: 1;

        }
    }
}