.PDFContentSCSS-bill {
  .container-print-provisi {
    background: #fff;
    padding: 20px;
    margin: 5px auto;
    // height: 100%;
    border-radius: 5px;
  }

  .header-logo {
    display: flex;
    margin: auto;
    align-items: center;

    .logo {
      flex-basis: 20%;
      text-align: center;
      align-items: center;
      margin-right: 10px;

      img {
        height: 50px;
        width: 50px;
      }
    }

    .content-text-res {
      margin-bottom: 10px;
      flex: 1;

      h3 {
        text-transform: uppercase;
        margin-top: 0;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
      }
    }
  }

  .title-content-bill {
    height: calc(100% - 110px);

    h2 {
      text-align: center;
    }

    .content-bill {
      height: calc(100% - 75px);

      .info-table-order {
        display: flex;

        .table-name-staff-left {
          flex-basis: 50%;
        }

        .order-date-right {
          flex: 1;
          text-align: end;
        }
      }

      .table-bill {
        margin: 10px 0;
        height: calc(100% - 180px);
        overflow: auto;

        .header-bill {
          // height: 50px;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          font-weight: bold;
        }

        .row-item {
          border-bottom: 1px dashed #ddd;
        }


        .info-order {
          &.row-total {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }

    .footer-bill {
      text-align: center;

      .wishes {
        // padding: 5px;
      }

      .to-qrcode {
        // padding: 10px;
      }

      .text-wishes {
        margin-bottom: 5px;
      }
    }
  }
}