.emenu-tag-input {
  display: flex;
  justify-content: center;
  align-items: center;

  button.action {
    margin-right: 10px;

    svg {
      display: flex;
    }
  }

  .tag-box {
    flex: 1;
    display: flex;
    border: 1px solid $base-border-color;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    min-height: 50px;
    flex-wrap: wrap;
    border: 1px solid #d8d2de;
    color: #555;
    background: #f8f8f8;
    box-shadow: rgba(37, 11, 54, 0.04) 0px 2px 0px;

    .tag-item {
      padding: 0 10px;
      border-radius: 10px;
      background-color: #eeeeee;
      font-size: 12px;
      border: 1px solid $base-border-color;
      display: flex;
      height: 36px;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      margin-bottom: 5px;
      cursor: pointer;

      .tag-icon {
        display: block;
        width: 14px;
        height: 14px;
        margin-left: 5px;
        color: $base-text-color;
      }
    }
  }
}

@media (max-width: 1300px) {
  .emenu-tag-input {
    .tag-box {
      min-height: 35px;
      padding-top: 3px;
      padding-left: 3px;
      border-radius: 7px;

      .tag-item {
        height: 27px;
        margin-right: 3px;
        margin-bottom: 3px;
        padding: 0 3px;
        border-radius: 7px;
      }
    }
  }
}